.skeleton {
  background-color: rgb(var(--gray-200));
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.skeleton-centered {
  margin-left: auto;
  margin-right: auto;
}

.skeleton-text {
  border-radius: 0.25rem;
  transform: scaleY(0.6);
}

.skeleton-text::after {
  content: '|';
  visibility: hidden;
}

.skeleton-rounded {
  border-radius: 0.375rem;
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}
