.main {
  flex-grow: 1;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.content {
  max-width: var(--tight-screen);
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.snackbar-container {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.75rem;
}
